{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Bootstrap 实例 - 条纹表格</title>
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>

<table class="table table-striped">
   <caption>用户列表</caption>
   <thead>
      <tr>
         <th>用户名</th>
         <th>密码</th>
         <th>First Name</th>
         <th>Last Name</th>
      </tr>
   </thead>
   <tbody>
      {% for user in userArray %}
      <tr>
         <td>{{ user.username }}</td>
         <td>{{ user.first_name }}</td>
      </tr>
      {% endfor %}
   </tbody>
</table>

</body>
</html>